.CockpitLogo {
    animation: Cockpit-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .CockpitHeader {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .CockpitTitle {
    font-size: 1.5em;
    color: lightseagreen;
  }
  
  @keyframes Cockpit-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .bold {
    font-weight: bold;
  }
  .red{
    color: red;
  }
  
  .Cockpit button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer
  }
  
  .Cockpit button:hover {
    background-color: lightgreen;
    color: black
  }
  
  .Cockpit button.Red {
    background-color: red;
  }
  
  .Cockpit button.Red:hover {
    background-color: lightcoral;
    color: black
  }